@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asp.netCore_MVCDemoApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <ul>
                @if (HttpContextAccessor.HttpContext.Session.GetInt32("id") != null)
                {
                    <li>
                    <a class="navbar-brand"> Welcome : @HttpContextAccessor.HttpContext.Session.GetString("Name") </a>    
                    <a href="Logout" class="navbar-brand" >Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Employee" class="navbar-brand">Asp.netCore_MVCDemoApp</a>
                        <a asp-area="" asp-controller="Employee" asp-action="Login" class="navbar-brand">Login</a>
                        <a asp-area="" asp-controller="Employee" asp-action="Index" class="navbar-brand">Index</a>
                        <a asp-area="" asp-controller="Employee" asp-action="Create" class="navbar-brand">Register Form</a>
                    </li>
                }
            </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
